*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar{
    background-color: #ffffff;
    min-height: 100px;
    box-shadow: 0 2px 4px 0 rgba(121, 151, 177, 0.8);
}

.navbar-toggler { font-size:  40px;}
.navbar-toggler:focus { outline: none;}
.nav-link{ color: black;}
.nav-link:hover { color: black;}
.active{font-weight: bold;}
a:link {text-decoration: none;}
.img-fluid{width: 100%; margin: 0;}

.logo-brand{
    min-width: 160px;
    max-width: 200px;
    border-radius: 20px;
}

.jumbotron {
    color: black;
    background: #eccbcb;
    border-radius: 5px;
    width: 40vw;
    margin-bottom: 5vw;
    margin-top: -5vw;
}

#boton{
    display: inline-flex;
    align-items: center ;
    justify-content: center;
    margin-top: 20px;
}

#central{
    background-color: white;
    padding-bottom: 5vw;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    align-items: center;
}

.contenido{ margin-top: 5vw;}

section{    
    min-height: 1500px;
    background-image: url(/images/white.jpg);
    background-size: auto;
    margin-top: 14vh;    
}

ol.breadcrumb{ margin: 0; height: 8vh;}
li.breadcrumb-item{ margin: 0; height: 8vh;}

.lead2, {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(/images/tablon.jpg);
    background-size: cover;
    padding: 5vh;
}


.temporada{
    flex: 1 200px;
    margin: 10vw 1vw 10vw 1vw;  
    font-family: 'Lobster', cursive;
}

.card-body{ padding: 2px;}

.btn-temporada{
    width: 100%;
    margin-top: 10px;
    font-family: Calibri ;
    font-size: 20px;
    color: #a4d7fa;
    border-radius: 0;
}

footer{
    min-height:  80px;
    color:#eccbcb;  
    padding: 2vw 2vw 0vw 2vw;
}

.row{ align-items: flex-end;}

.fab{ color: #a4d7fa; }

.form2{ width: 50vw; }

#tmedios {min-width: 60%;}
#promociones {max-width: 60%; max-height: 5vw;}
li{ 
    margin-top: 1vh; 
    padding-top: 1vh;
    text-align: center; 
    color: white; 
    text-decoration: none;
}

.blue, .btn-link:focus,.btn-link:hover, .btn-link{color: navy; text-decoration: none;}

.nav-item2, .nav-item2:hover, .nav-item2:focus{
    color: #eccbcb;
    text-align: center;         
}

.footer-address-icon{ padding-right: 10px;}

.btn:active { outline: none;}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 300px) and (max-width: 768px){ 
    html, body{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .jumbotron { 
        width: 70vw;
        text-align: center;
    }
    .contenido{
        margin-bottom: 15vw;
        margin-top: 15vw;
    }
    .temporada{
        flex: auto;
        width: 100% ;
        margin-top: 20vw;
        margin-bottom: 10vw;
    }
    footer{
        padding: 15vw 0vw 10vw 0vw;
        text-align: center;
    }
    #redes{
        flex-wrap: nowrap;
        padding: 15vw 0vw 10vw 0vw;
    }

    #pie{
        padding: 15vw 0vw 10vw 0vw;
    }
    
    .nav-tabs{ flex-wrap: nowrap;}
    
    .form2 {width: 100%; }
    #tmedios, #promociones {
        min-width: 100%; 
        position: relative; 
    }
    
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 992px) {
    .jumbotron { 
        width: 50%;
        text-align: center;
    }

    #central{
        flex-wrap: wrap;
    }
    
    
    .temporada{
        flex: auto;
        width: 60% ;
        margin-top: 50px;
        margin-bottom: 50px;
    }
    
    footer{
        padding: 15vw 0vw 5vw 0vw;
        text-align: center;
    }
    #redes{
        flex-wrap: nowrap;
        padding: 5vw 0vw 5vw 0vw;
    }

    #pie{
        flex-direction: row;
        padding: 5vw 0vw 5vw 0vw;
    }
    #tmedios {min-width: 90%; position: relative; margin-left: 5vh; margin-right: 5vh;}
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #central{
        flex-wrap: wrap;
    }
}

/*Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/