@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --background: #51E5FF;
    --title: #FFD6C0;
    --link: #440381;
    --light: #FFA5A5;
    --darker: #08011a;
    --pink: #EC368D;
    --white: #FFF;
    --gray: #737389;
}

a {
    text-decoration: none;
    color: var(--darker);
    font-weight: bold;
}

.a:hover, .hero__button-link:hover, a.btn-temporada:hover, .contacto__link:hover{
    opacity: 0.85;
}

@media screen and (min-width: 320px) {

    header{
        height: 90px;
        background-color: var(--light);
    }
    .navbar{
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content:space-between;
    }
    
    .nav__link-logo{
        width: 200px;
    }
    
    .nav__list{
        display: grid;
        grid-auto-flow: column;
        gap: 2rem;
        font-size: 1rem;
    }

    .nav__input, .nav__list{
        display: none;
    }

    .nav__list-link:hover{
        color: var(--link);
    }

    .nav__label{
        cursor: pointer;
    }

    .nav__list{
        position: fixed;
        top: 90px;
        background-color: var(--light);
        width: 100vw;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.2rem 0;
        justify-content: center;
        clip-path: polygon(0 0 , 100% 0, 100% 0, 0 0);
        transition: clip-path 0.5s ease-in-out;
    }
    
    .nav__input:checked + .nav__list{
        clip-path: polygon(0 0 , 100% 0, 100% 100%, 0 100%);
        
    }
    .hero {
        color: var(--white);
        background-image: repeating-linear-gradient(90deg, rgba(30, 30, 30, 0.541) 0px, rgba(30, 30, 30, 0.541) 42px,rgba(32, 32, 32, 0.541) 42px, rgba(32, 32, 32, 0.541) 84px,rgba(33, 33, 33, 0.541) 84px, rgba(33, 33, 33, 0.541) 126px,rgba(31, 31, 31, 0.541) 126px, rgba(31, 31, 31, 0.541) 168px,rgba(31, 31, 31, 0.541) 168px, rgb(31, 31, 31, 0.541) 210px,rgba(32, 32, 32, 0.541) 210px, rgb(32, 32, 32,0.541) 252px,rgb(34, 34, 34,0.541) 252px, rgb(34, 34, 34, 0.541) 294px,rgb(33, 33, 33, 0.541) 294px, rgb(33, 33, 33, 0.541) 336px), url('../img/mesa_1280.jpg' );
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        gap: 1.7rem;
        justify-self: center;
    }
    
    .hero__title{
        width: 60%;
        text-align: center;
    }
    
    .hero__button{
        padding: 1rem 1.5rem;
        background-color: var(--link);
        border-radius: 5px;
        margin: 3rem 0;
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
    }
    
    .hero__button-link{
        color: var(--white);
    }
    
    .nosotras{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        padding: 5rem 2rem;
        background-color: var(--title);
    }
    
    .nosotras__container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .nosotras__img img{
        width: 300px;
        object-fit: cover;
        align-self: center;
        border-radius: 5px;
    }
    
    .nosotras__title{
        font-size: 1.5rem;
    }
    
    .nosotras__subtitle{
        text-align: center;
        align-items: center;
        font-size: 1rem;
        font-style: italic;
    }
    
    .nosotras__text {
        width: 75%;
        line-height: 1.5;
    }
    
    .nosotras__text p{
        margin: 1rem 0;
    }
    
    .tienda{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: #ffa5a5;
        background: linear-gradient(90deg, rgba(255, 165, 165, 0.1) 13%, rgba(255, 214, 192, 0.1) 100%), url('../img/layered-wave.png');
        background-repeat: no-repeat;
        background-size: cover;
        gap: 3rem;
        padding: 4rem 1rem;
    }

    .tienda__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 3rem;
        margin-top: 3rem;
    }
    
    .tienda__title{
        text-align: center;
        font-size: 1.5rem;
    }
    
    .tienda__card{    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.5);
        background-color: var(--title);
    }

    img.card-img {
        width: 280px;
        border-radius: 5px;
    }
    
    .card-body{ 
        display: flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    
    .btn-temporada{
        padding: 1rem;
        color: var(--white);
        background-color: var(--link);
        border-radius: 5px;
        text-align: center;
        font-size: small;
        box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.5);
    }
    
    .tienda__showroom-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 2rem;
    }

    .tienda__hero{
        width: 86%;
        text-align: end;
        font-family: 'Courgette', cursive;
        font-size: 1.8rem;
    }

    .brand{
        color: var(--link);
        font-weight: bold;
        font-size: 1.8rem;
    }

    video{
        width: 300px;
        border-radius: 5px;
    }

    .tienda__showroom-item2{
        width: 90%;
        max-width: 1200px;
        overflow: hidden;
        margin: 0 auto;
        padding: 4rem 0;
    }
    
    .tienda__text{
        line-height: 1.5;
        font-weight: bold;
        font-style: italic;
        font-size: 1.2rem;
        margin: 2rem 1rem;
    }

    .showroom__gallery{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 1rem;
    }

    .gallery__picture{
        min-width: 200px;
        flex: 350px;
    }

    .gallery__img{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }

    .whatsapp{
        position: fixed;
        right: 5px;
        bottom: 15px;
        width: 40px;
    }
    
    .whatsapp:hover{
        transition: all 0.5s ease-in-out;
        transform: scale(1.1);
    }
    
    .contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        padding: 8rem 0.5rem;
        color: var(--darker);
        background: url('../img/layered-waves.png') no-repeat;
        background-size: cover;
    }    

    .contacto__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .contacto__title{
        font-size: 1.5rem;
        text-align: center;
    }
    
    .contacto__subtitle{
        width: 80%;
        max-width: 600px;
        text-align: center;
    }
    
    .contacto__img2 img{
        display: none;
    }

    .contacto__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 90%;
        max-width: 500px;
        gap: 2rem;
    }
    
    .contacto__img img{
        width: 150px;
    }
    
    .contacto__form input{
        height: 40px;
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.3);
    }
    
    .contacto__form textarea{
        padding: 0.5rem;
        border: none;
        border-radius: 5px;
        resize: none;
        box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.3);
    }
    
    .contacto__form{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        text-align: start;
        width: 80%;
        justify-self: center;
    }
    
    .contacto__link{
        display: block;
        width: 50%;
        text-align: center;
        background-color:var(--link) ;
        align-self: center;
        color:var(--white);
        padding: 0.8rem 2rem;
        border-radius: 5px;
        font-weight: bold;
        box-shadow: 3px 3px 3px 0px rgba(92, 91, 91, 0.522);
    }
    
    .footer__container{
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        padding: 5rem 0.5rem;
        background-color: var(--darker);
    }

    .footer__address{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .footer__logo:hover{
        opacity: 1;
    }

    .footer__logo img{
        width: 100px;
        border-radius: 50%;
        transition: all 5s ease-in-out;
    }

    .footer__logo img:hover{
        opacity: 1;
        transform: rotate(360deg);
    }


    a .fa-location-dot{
        font-size: 2rem;
        color: var(--white);
    }

    .footer__social{
        display: flex;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .footer__social-list{
        display: flex;
        gap: 2rem;
        justify-items: center;
    }

    .footer__social-list a{
        color: var(--white);
        font-size: 1.5rem;
    }

    .footer__social-links{
        display: flex;
        gap: 2rem;
    }

    .footer__social-links a{
        color: var(--white);
        font-size: 1rem;
    }

    footer a:hover{
        opacity: 80%;
    }

}

@media screen and (min-width: 425px) {

    .hero__title{
        font-size: 1.3rem;
    }

    video{
        width: 350px;
    }

    .whatsapp{
        width: 45px;
        right: 10px;
    }
}

@media screen and (min-width: 768px) {
    .navbar{
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .nav__list{
        clip-path: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
    }

    .nav__label{
        display: none;
    }

    .nosotras__container{
        flex-direction: row;
        gap: 2rem;
        width: 80%;
    }

    .btn-nosotras{
        max-width: 50%;
        font-size: medium;
    }

        
    .tienda__card:hover{
        transition: all 0.3s ease-in-out;
        transform: scale(1.1);
    }

    .tienda__hero{
        width: 88%;
    }

    video{
        width: 450px;
    }

    .whatsapp{
        width: 50px;
        right: 15px;
    }

}

@media screen and (min-width: 1024px) {

    .nosotras__text{
        width: 40%;
    }
    
    .nosotras__container{
        justify-content: center;
    }

    .btn-nosotras{
        width: 20%;
        font-size: medium;
    }
    
    .hero__title{
        font-size: 2rem;
    }

    .tienda__container{
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }

    .tienda__hero{
        width: 60%;
        text-align: center;
    }

    .tienda__text{
        font-size: 1.2rem;
    }

    .contacto__img2 img{
        display: flex;
        width: 400px;
    }

    .contacto__container{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        padding: 2rem 0;
        gap: 4rem;
    }
    
    .footer__container{
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        padding: 5rem 2rem;
    }

    .footer__address{
        width: 30%;
    }

    .footer__logo img{
        display: block;
        width: 120px;
        border-radius: 50%;
        position: relative;
        bottom: 30px;
    }

    .footer__social{
        width: 30%;
        gap: 3.5rem;
    }

    .footer__social-list, .footer__social-links{
        gap: 3rem;
    }
}

@media screen and (min-width: 1200px) {

    .nosotras__title, .tienda__title, .contacto__title{
        font-size: 2rem;
        padding-top: 1rem;
    }

    video{
        width: 600px;
    }

    .tienda__text{
        width: 100%;
        font-size: 1.5rem;
    }
    .contacto{
        height: 180vh;
    }

}


